<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Group 16 Banking App</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
  <h1>Welcome to DashBoard</h1>
  <h3><a href="http://localhost:8080/login/client/create-portfolio">Create Portfolio</a></h3>
  <h3><a href="http://localhost:8080/login/client/portfolio-list">List Portfolio</a></h3>
  <h3><a href="http://localhost:8080/login/client/delete-portfolio">Close Portfolio</a></h3>
  <h3><a href="http://localhost:8080/login/client/update-portfolio">Update Portfolio</a></h3>
  <h3><a href="http://localhost:8080/login/client/create-order">Create Order</a></h3>
  <h3><a href="http://localhost:8080/login/client/order-list">List Order</a></h3>
  <h3><a href="http://localhost:8080/login/client/delete-order">Close Order</a></h3>
  <h3><a href="http://localhost:8080/login/client/update-order">Update Order</a></h3>
  <h3><a href="http://localhost:8080/login/client/check-status">Check Order Status</a></h3>

</div>
</body>
</html>