<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Delete Order</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">
    <form action="http://localhost:8080/login/client/delete-order?id=?"
          method="delete"  modelAttribute="order"   style="max-width: 600px; margin: 0 auto;" name="order">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Order ID: </label>
                <div class="col-8">
                    <input type="number" name="id" class="form-control" required />
                </div>
            </div>
            <div>
                <button type="submit" >Delete</button>

            </div>
        </div>
    </form>
</div>
</body>
</html>